echo "read .inputrc"
# Use Vi, not Emacs, style editing
set editing-mode vi

# 今の所他のインタラクティブシェルも含めこれが一番安定している
  # - b が打てない問題とコマンドモードbが聞かない問題の競合回避

# ビープ音をならなくさせる
set bell-style none
# Show all completions as soon as I press tab, even if there's more than one
set show-all-if-ambiguous on
# Ignore case
set completion-ignore-case on

# viモードでのキーバインド
set keymap vi-command

# ClearScreenをviモードでも使えるようにする
bind -m vi-command '\C-l: clear-screen'
bind -m vi-insert '\C-l: clear-screen'
bind -m vi-command 'b: vi-bword'

# 最後の実行コマンドの引数をペースト
bind -m vi-insert '"\e.": insert-last-argument'
# bind -m vi-insert 'b: self-insert'


# お好みで、インタラクティブシェルで使えなくなってしまうものがある可能性がある(gdb等)
# viモードでのキーバインド
# set show-mode-in-prompt on
# set vi-ins-mode-string "\033[34;1m(ins) \033[0m"
# set vi-ins-mode-string "\033[38;5;152m(ins) \033[0m"
# set vi-cmd-mode-string "\033[31;1m(cmd) \033[0m"
# set vi-cmd-mode-string "\033[38;5;217m(cmd) \033[0m"

